@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto&display=swap');
body {
    background-color: yellow;
    margin: 0;
  }
#text-color{
    color: red;
}
#headerH1{
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 0;
    padding-top: 10px;
}
#headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 2em;
}

.formHeading {
    color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2.3em;
    font-weight: 400;
    margin: 0;
}

form {
    padding: 0 30px 30px 30px;
    margin:  0 35% 0 35%;
    text-align: center;
    margin-bottom: 3em;
    border: 5px solid black;
}

.bodyPara{
    color: black;
    font-family: 'Oswald', sans-serif;
    margin: 0 10em 0 10em;
    font-size: 1em;
    background-color: #fff;
}
#footer{
    background-color: black;
    align-items:center;
    margin: 0;
    padding: 0;
}
li {
    margin:10px;
    padding:0;
    display:block;
    float:left;
    font-weight: bold;
}
