body {
    background-color: yellow;
  }
#text-color{
    color: red;
}
.h1-color{
    color: blue;
}
.p-body{
    color: orange;
}
.footer{
    background-color: black;
    color: white;
    font-weight: bold;
}
